{% extends 'base.html' %}

{% block content  %}

<div class="container-fluid">
    <h3 class="mt-4" style="color:#00529F;">Anonymization Operations</h3>

    <form name="apply_anonymization" action="anonymization_main" method="POST">

        {% csrf_token %}

        <div class="row">
            <div class=" col-sm-6 col-md-7 col-lg-8">
                {% if log_name != ':notset:' %}
                <p style="color:green;"> {{log_name}} is used as input.</p>
                {% else %}
                <p style="color:red;"> You have not set any event log as input. Use "Event Data" tab to set an event log
                    as input or click <a href="/upload/upload_eventlog">here</a>!</p>
                {% endif %}
            </div>
        </div>



        {% if log_name != ':notset:' %}
        <div class="accordion" id="acc_anon_op">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Operation
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body" style="min-height: 300px;">

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-group-mediumWith"
                                    id="basic-addon1">Operation:</span>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="DDMB_anon_operation"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Choose operation
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="DDMB_anon_operation">
                                    <a class="dropdown-item" href="#">Addition</a>
                                    <a class="dropdown-item" href="#">Condensation</a>
                                    <a class="dropdown-item" href="#">Cryptography</a>
                                    <a class="dropdown-item" href="#">Generalization</a>
                                    <a class="dropdown-item" href="#">Substitution</a>
                                    <a class="dropdown-item" href="#">Supression</a>
                                    <a class="dropdown-item" href="#">Swapping</a>
                                </div>
                                <input type="hidden" id="DDMB_anon_operation_DATA" name="DDMB_anon_operation_DATA" />
                            </div>
                        </div>


                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-group-mediumWith" id="basic-addon1">Level:</span>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="DDMB_anon_applLevel"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Choose Level
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="DDMB_anon_applLevel">
                                    <a class="dropdown-item" href="#">Case</a>
                                    <a class="dropdown-item" href="#">Event</a>
                                </div>
                                <input type="hidden" id="DDMB_anon_applLevel_DATA" name="DDMB_anon_applLevel_DATA" />
                            </div>
                        </div>


                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text input-group-mediumWith" id="basic-addon1">Target:</span>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="DDMB_anon_target"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Choose Target
                                    <span class="caret"></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="DDMB_anon_target">
                                    <a class="dropdown-item" href="#">Case</a>
                                    <a class="dropdown-item" href="#">Event</a>
                                    <a class="dropdown-item" href="#">Case.Attribute</a>
                                    <a class="dropdown-item" href="#">Event.Attribute</a>
                                </div>
                                <input type="hidden" id="DDMB_anon_target_DATA" name="DDMB_anon_target_DATA" />
                            </div>
                        </div>


                        <div class="pt-4">
                            <button type="submit" class="btn btn-primary mb-2" id='applyButton' name="applyButton">
                                Apply </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Condition
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#acc_anon_op">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                        of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Overview
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#acc_anon_op">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                        of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            General statistics
                        </button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#acc_anon_op">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                        of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Output
                        </button>
                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#acc_anon_op">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                        of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>

        <input style="margin-top: 10px;" data-toggle="tooltip" data-placement="top" title="Test" type="submit"
            class="btn btn-warning" value="Test" name="testButton" id='testButton' />

        {{outputs}}

        <!-- End (log_name != ':notset:') -->
        {% endif %}
    </form>
</div>

{% endblock %}

{% block script %}

<script>
    var token = '{{csrf_token}}';

    var conditionStructure = //Index of the conditions is the order of application to the log
        [
            {
                'Operation': 'Addition',
                'Level': '',
                'Target': ''
            },
            {
                'Operation': 'Cryptography',
                'Level': '',
                'Target': ''
            },
        ];

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

        //Enable dropdowns to show selected element as button-text (Bootstrap v4 specific)
        $(".dropdown-menu a").click(function () {
            $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
            $(this).parents(".dropdown").find('.btn').val($(this).data('value'));

            let id = $(this).parents(".dropdown").find('.btn')[0].id;
            $('#' + id + '_DATA')
                .val($(this).text())
                .trigger('change');
        });

        $("#DDMB_anon_operation_DATA").change(function () {
            var selectedlog = $(this).val();
            $.ajax({
                headers: { "X-CSRFToken": token },
                type: "POST",
                url: "anonymization_main",
                data: { log_name: selectedlog },
                dataType: 'json',
            }).done(function (result) {
                no_trace = result.log_attributes.no_traces;
                $('#no_trace').text("No of traces: " + no_trace);

                no_event = result.log_attributes.no_events;
                $('#no_event').text("No of events: " + no_event);
            });
        });
    });
</script>

{% endblock %}